*{
    box-sizing:border-box;
}



body{
    margin:0px;
}
.row{


}

.col{
    float:left; 
    height:100%;
}  

.top_row1{
    height:60px;
    background-color:#0F1111;
}


.logo{
    width:113px; 
    margin-left:15px;
    font-size:14px;  
}

.location{
    width:88.64px; 
}
.location_icon{
    height:30px;
    width:30px;
    margin:20px 0px 10px 0px;
}

.line_one{
    height:14px;
    width:52.64px;
    float:right;
    font-size:12px;
}


.line_two{
    height:16px;
    width:52.64px;
    float:right;
    font-size:14px;
}

.search{
    width:1172.5px;
    margin:0px 18px 0px 18px;
    height:100%;
    font-size:0px;

}


select{
    background-color:#EFEFEF;
    cursor :pointer;
    height:100%;
    width:100%;
}

.search_items{
   height:40px;
   float:left;
   margin:8px 0px 6px 0px;
}
.option{
    width:103.73px;
}

.search_row{
    width:1016.77px;
}


.icon{
    width:45px;

}

.lang{
    width:73.38px;   
    height:100%;
    margin:0px 0px 0px 1px;
}

.language_img{
    height:16.2px;
    width:21.2px;
    float:left;
    margin:27px 0px 0px 10px;
}


.choose_lang{
    height:15px;
    width:30px;
    float:left;
    margin:14px 2px 6px 2px;
}



.sign{
    width:131.53px; 
    height:100%;
    margin:0px 0px 0px 6px;
    font-size:14px;
}

.account_and_sign{
    padding: 15px 9px 10px;
    color:#FFF;
    font:12px sans-serif;
}



.return{
    width:76.95px; 
    margin:0px 0px 0px 6px;
}
.order_div{
    margin-left:15px;
    padding-top:15px;
    color:#FFF;
    font:12px sans-serif;
} 

.cart{
    width:90px; 
    margin:0px 15px 0px 6px;

}

.cart_div{
   float:right;
   height:15px;
   width:28px;
   color:#FFF;
   margin-top:28px;
   margin-right:10px;

}

.cart_icon{
    height:50px;
    width:50px;
    padding:0px;
    float:left;


}

.top_row2{
    height:39;
    background-color:#232F3E;

}


.all{
    width:58.42px; 
    margin-left:15px;
}

.start{
    color:#FFF;
    font:14px sans-serif;
    line-height:39px;
    margin-left:25px;

}

.menu_div{
    width:20px;
    height:20px;
    float:left;
    margin-top:8px;
    margin-left:10px;
}



.menu_icon{
    height:35px;
    width:40px;
    float:left;
    padding:10px 0px 9px 2px;



}
.today{
    padding:0px 12px 0px 12px;
    font:14px sans-serif ;
    color:#FFFFFF;
    line-height:39px;  
    text-align:center;
}

.customer{
    padding:0px 12px 0px 12px;
    font:14px sans-serif ;
    color:#FFFFFF;
    line-height:39px;
    text-align:center;
}

.registry{
    padding:0px 12px 0px 12px;
    font:14px sans-serif ;
    color:#FFFFFF;
    line-height:39px;
    text-align:center;
}

.gift{
    padding:0px 12px 0px 12px;
    font:14px sans-serif ;
    color:#FFFFFF;
    line-height:39px;
    text-align:center;
}


.sell{
    padding:0px 12px 0px 12px;
    font:14px sans-serif ;
    color:#FFFFFF;
    line-height:39px;
    text-align:center;

}

.deals{
    padding:0px 12px 0px 12px;
    float:right;
    font:14px sans-serif ;
    color:#FFFFFF;
    line-height:39px;
    text-align:center;
    margin-right:15px;
}


.row_3{
    height:300px;
    width:1500px;
    margin:15px auto 20px auto;

}


.row_between{
    height:360px;
    width:1500px;
    margin:0px auto 20px auto;



}


.inside_columns{

    height:100%;
    width:360px;
    float:left;
    margin-left:20px;
}


.fourth_row_box_one{
    float:left;
    height:100%;
    width:360px;

}


.fifth_row_box_one{
    float:left;
    height:100%;
    width:360px;

}


.sixth_row_box_one{
    float:left;
    height:100%;
    width:360px;

}


.seventh_row_box_one{
    float:left;
    height:100%;
    width:360px;

}


.row_8{
    height:264.86px;
    width:1500px;   
    margin:15px auto 0px auto;

}


.footer_top_row{
    height:49px;
    margin-top:60px;
    text-align:center;
    font:13px sans-serif;
    background-color:#37475A;
    line-height:50px;
    color:#FFFFFF;


}

.footer{
    height: 400px;
    background-color:#232F3E;
}

.footer_insid_box{
   height:318px;
   width:1000px;
   margin:0px auto 0px auto;

}

.foot{
    float:left;
    display:table-cell;
    font:14px sans-serif;
    padding:10px;
    line-height:27px;
    margin-right:auto;
    color:#DDDDDD;
    margin-top:55px;

}







